.main-border {
  position: fixed;
  z-index: 1000;

  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  height: 100lvh;

  // 1px offset helps mitigate aliasing issues on mobile devices
  border: calc(var(--border) + 1px) solid white;
  pointer-events: none;
}

// Sometimes useful to position a container within the .main-border
.viewport-container {
  top: var(--border);
  left: var(--border);
  width: calc(100vw - var(--border) - var(--border));
  height: calc(100vh - var(--border) - var(--border));
}

/****************************************
  Border Glow
*****************************************/

// https://www.youtube.com/watch?v=-VOUK-xFAyk&t=345s
@property --border-glow-angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes border-glow-angle-rotate {
  0% {
    --border-glow-angle: 0deg;
  }
  100% {
    --border-glow-angle: 360deg;
  }
}

.border-glow {
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    inset: -1px;
    border-radius: inherit;
    background: conic-gradient(
      from var(--border-glow-angle),
      theme('colors.sky[400]'),
      theme('colors.sky[700]'),
      theme('colors.sky[400]')
    );
    transition: all 0.2s;
    z-index: -1;
    animation: border-glow-angle-rotate 10s linear infinite;
  }

  &.fire::before,
  &.fire::after {
    background: conic-gradient(
      from var(--border-glow-angle),
      var(--themeGradient-1),
      var(--themeGradient-2),
      var(--themeGradient-3),
      var(--themeGradient-4),
      var(--themeGradient-3),
      var(--themeGradient-2),
      var(--themeGradient-1)
    );
  }

  &::before {
    filter: blur(10px);
    opacity: 0.5;
  }
}

/* .border-glow-alt {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    inset: -1px;
    background: var(--themeGradient-3);
    border-radius: inherit;
    background: conic-gradient(
      from var(--border-glow-angle),
      var(--themeGradient-1),
      var(--themeGradient-2),
      var(--themeGradient-3),
      var(--themeGradient-4),
      var(--themeGradient-3),
      var(--themeGradient-2),
      var(--themeGradient-1)
    );
    z-index: -1;
    animation: border-glow-angle-rotate 20s linear infinite;
  }

  &::before {
    filter: blur(10px);
    opacity: 0.5;
  }
} */

/****************************************
  Brands
*****************************************/

.brands {
  text-align: center;
  margin-bottom: -1.5em;
  position: relative;
}

.brands img.brand-image {
  max-height: 1.6em;
  max-width: 5em;
  -o-object-fit: contain;
  object-fit: contain;
  vertical-align: middle;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

@media (min-width: 700px) {
  .brands img.brand-image {
    max-height: 2.5em;
    max-width: 6em;
    margin-bottom: 2em;
    margin-left: 2em;
    margin-right: 2em;
  }
}

.scroll-brands {
  --gap: 0.5em;
  display: flex;
  flex-wrap: nowrap;
  gap: var(--gap);
  -webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0, #000 60%, #000 100%);
  mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0, #000 60%, #000 100%);
}

.scroll-brands > div {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  gap: var(--gap);
  min-width: 100%;
  animation: slide 50s linear infinite;
  animation-delay: var(--delay);
}

@keyframes slide {
  0% {
    transform: translateX(calc(var(--gap) * -1));
  }
  100% {
    transform: translateX(calc(-100% - var(--gap) * 2));
  }
}
