.main-border {
  position: fixed;
  z-index: 1000;

  /* box-shadow: inset 0 0 100px -80px #000; */

  // https://x.com/jon_neal/status/1593674297624723456
  top: 0;
  left: 0;
  right: 0;
  /* bottom: 0; */
  height: 100vh;
  height: 100lvh;

  // 1px offset helps mitigate aliasing issues on mobile devices
  border: calc(var(--border) + 1px) solid white;
  pointer-events: none;
}

// Sometimes useful to position a container within the .main-border
.border-container {
  top: var(--border);
  left: var(--border);
  width: calc(100vw - var(--border) - var(--border));
  height: calc(100vh - var(--border) - var(--border));
}
