.main-border {
  position: fixed;
  z-index: 1000;

  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  height: 100lvh;

  // 1px offset helps mitigate aliasing issues on mobile devices
  border: calc(var(--border) + 1px) solid white;
  pointer-events: none;
}

// Sometimes useful to position a container within the .main-border
.viewport-container {
  top: var(--border);
  left: var(--border);
  width: calc(100vw - var(--border) - var(--border));
  height: calc(100vh - var(--border) - var(--border));
}

/////

// https://codepen.io/jh3y/pen/rNRdLWX
.button-glow {
  margin-left: 10px;
  background-color: var(--themeBlack);
  --border-radius: 100px;
  --border-width: 1px;
  padding: 1rem 2rem;
  position: relative;
  border-radius: var(--border-radius);
}

@keyframes loop {
  to {
    offset-distance: 100%;
  }
}

[data-glow] {
  position: absolute;
  inset: calc(var(--border-width) * -1);
  border-radius: var(--border-radius);
  border: var(--border-width) solid transparent;
  mask: linear-gradient(transparent, transparent), linear-gradient(white, white);
  mask-clip: padding-box, border-box;
  mask-composite: intersect;
  pointer-events: none;
  /* background: theme('colors.fuchsia[950]'); */
}

[data-glow]::after {
  content: '';
  position: absolute;
  display: inline-block;

  height: 60px;
  aspect-ratio: 1 / 1;
  offset-anchor: 100% 50%;
  background: radial-gradient(circle at right, hsl(0 0% 100% / 0.75), transparent 50%),
    radial-gradient(circle at right, var(--themeGradient) 50%, transparent);

  /* offset-path: rect(0 100% 100% 0 round var(--border-radius)); */
  offset-path: rect(0 100% 100% 0 round 60px);
  // -webkit-animation: loop calc(var(--speed) * 1s) infinite linear;
  animation: loop 12s infinite linear;
}
