.mask-root {
  view-timeline-name: --mask-container;
}

.section-mask {
  position: absolute;
  top: 0;
  right: 0;
}

.section-mask > .section-mask-inner {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100vw - var(--border) - var(--border));
  height: calc(100vh - var(--border) - var(--border));
}

@supports (animation-timeline: --mask-container) {
  .section-mask {
    position: fixed;
    width: 200vw;
    height: 200vw;
    pointer-events: auto;
    // The percentage determines the angle of the clip
    clip-path: ellipse(200vmax 200vmax at 75% 0%);
    animation: linear section-mask-animation forwards;
    animation-duration: 1ms; // FF
    animation-timeline: --mask-container;
    animation-range: 30%;

    // Adjust for accomodating display: flex (without animation timeline support it was absolute)
    > .section-mask-inner {
      top: var(--border);
      // has to be `right` because the container is 5000px and we want overhang
      // to the left (which is why we have 5000 in the first place)
      right: var(--border);
    }
  }
  @keyframes section-mask-animation {
    to {
      clip-path: ellipse(100px 100px at 50% -50vh);
    }
  }
}

/****************************************
  Hero
*****************************************/

.hero {
  // For a small amount of time, when we start scrolling we can see the underlying primary nav
  // of the next section but the .hero is still over it (and transparent). To make pointer events
  // work, we'll disable them for the hero itself but then enable them for the sub-contents of
  // the hero (the mask which will be clipped)
  pointer-events: none;

  .section-mask > div {
    background-image: linear-gradient(300deg, var(--themeGradient));

    // Hides "double slashes"
    overflow: clip;
  }
}

/* Hero Double Slashes ******************/

.hero-double-slashes {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 500px;
  transform: translate(-50%, 50%);
  transition: all 0.3s;

  @media (min-width: 768px) and (min-height: 500px) {
    width: 700px;
  }
}

@supports (animation-timeline: --mask-container) {
  .hero-double-slashes {
    position: fixed;
    animation: linear hero-double-slashes forwards;
    animation-timeline: --mask-container;
    animation-range: 50%;
  }
  @keyframes hero-double-slashes {
    to {
      transform: translate(-120%, 50%);
    }
  }
}

/****************************************
  Services
*****************************************/

// Needs to be a div adjacent to the content and not a wrapper because of the masking
.services-background {
  position: absolute;
  z-index: -1;
  inset: 0;

  background: linear-gradient(100deg, rgb(216 32 174 / 20%), rgb(56 189 248 / 40%));
  -webkit-mask-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 1) 5%,
    rgba(255, 255, 255, 0) 80%,
    rgba(255, 255, 255, 0)
  );
}

.services-content {
  display: grid;
  grid-template:
    'love'
    'logos'
    'npm'
    'cta'
    / 1fr;

  @media (min-width: 900px) {
    grid-template:
      'love logos'
      'npm  logos'
      'cta  logos'
      / 500px 1fr;
  }
}

.services-glimmer-text {
  h1 {
    font-size: calc(1rem + 4vw);
  }

  background: linear-gradient(
    130deg,
    white 30%,
    var(--themeGradient-1),
    var(--themeGradient-2),
    var(--themeGradient-3),
    white 60%,
    white
  );
  background-repeat: no-repeat;
  background-size: 300% 100%;
  background-position: 0 0;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@supports (animation-timeline: --mask-container) {
  .services-glimmer-text {
    animation: linear services-glimmer-text forwards;
    animation-timeline: --mask-container;
    animation-range: 0% 90%;
  }
  @keyframes services-glimmer-text {
    to {
      background-position: 100% 0;
    }
  }
}

/****************************************
  Next section
*****************************************/

.next {
  /* background-image: linear-gradient(
    58.2deg,
    rgba(40, 91, 212, 0.73) -3%,
    rgba(171, 53, 163, 0.45) 49.3%,
    rgba(255, 204, 112, 0.37) 97.7%
  ); */
}

.next {
  .viewport-container {
    background: linear-gradient(to right, theme('colors.sky.900'), theme('colors.sky.400'));
  }
}

/*

this is the circle mask trick from early ideas
@keyframes bg-shrink {
  to {
    clip-path: circle(300%);
  }
}

.section-two {
  height: 100vh;
  background: #000;
  clip-path: circle(0%);
  animation: bg-shrink linear;
  animation-timeline: scroll(block root);
  animation-duration: 2s;
}

*/

/* @keyframes slide-left {
  to {
    transform: translateX(-200px);
  }
}

.slide-left {
  animation: slide-left linear;
  animation-timeline: scroll(block root);
  animation-duration: 5s;
}

@keyframes slide-right {
  to {
    transform: translateX(200px);
  }
}

.slide-right {
  animation: slide-right linear;
  animation-timeline: scroll(block root);
  animation-duration: 5s;
}

.neumorphic-box {
  background: linear-gradient(145deg, #fefefe, #d5d5d5);
  box-shadow: 20px 20px 60px #c9c9c9, -20px -20px 60px #ffffff;
}

.neumorphic-box-inset {
  box-shadow: inset 20px 20px 60px #c9c9c9, inset -20px -20px 60px #ffffff;
} */
