.mask-root {
  view-timeline-name: --mask-container;
}

.section-mask {
  position: absolute;
  top: 0;
  right: 0;
}

.section-mask > .section-mask-inner {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100vw - var(--border) - var(--border));
  height: calc(100vh - var(--border) - var(--border));
}

@supports (animation-timeline: --mask-container) {
  .section-mask {
    position: fixed;
    width: 200vw;
    height: 200vw;
    pointer-events: auto;
    // The percentage determines the angle of the clip
    clip-path: ellipse(200vmax 200vmax at 75% 0%);
    animation: linear section-mask-animation forwards;
    animation-duration: 1ms; // FF
    animation-timeline: --mask-container;
    animation-range: 30%;

    // Adjust for accomodating display: flex (without animation timeline support it was absolute)
    > .section-mask-inner {
      top: var(--border);
      // has to be `right` because the container is 5000px and we want overhang
      // to the left (which is why we have 5000 in the first place)
      right: var(--border);
    }
  }
  @keyframes section-mask-animation {
    to {
      clip-path: ellipse(100px 100px at 50% -50vh);
    }
  }
}

/****************************************
  Section: Hero
*****************************************/

.hero {
  // For a small amount of time, when we start scrolling we can see the underlying primary nav
  // of the next section but the .hero is still over it (and transparent). To make pointer events
  // work, we'll disable them for the hero itself but then enable them for the sub-contents of
  // the hero (the mask which will be clipped)
  pointer-events: none;

  .section-mask > div {
    background-image: linear-gradient(300deg, var(--themeGradient));

    // Hides "double slashes"
    overflow: clip;
  }
}

/* Hero Double Slashes ******************/

.hero-double-slashes {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 500px;
  transform: translate(-50%, 50%);
  transition: all 0.3s;

  @media (min-width: 768px) and (min-height: 500px) {
    width: 700px;
  }
}

@supports (animation-timeline: --mask-container) {
  .hero-double-slashes {
    transform-origin: center left;
    position: fixed;
    animation: linear hero-double-slashes forwards;
    animation-timeline: --mask-container;
    animation-range: 50%;
  }
  @keyframes hero-double-slashes {
    to {
      transform: translate(-120%, 50%);
    }
  }
}

/****************************************
  Section: Stacks
*****************************************/

/* .section-mask {
  background-image: linear-gradient(300deg, var(--themeGradient));
} */

// Needs to be a div adjacent to the content and not a wrapper because of the masking

/* background: linear-gradient(100deg, rgb(216 32 174 / 20%), rgb(56 189 248 / 40%)); */
/* -webkit-mask-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 1) 5%,
    rgba(255, 255, 255, 0) 80%,
    rgba(255, 255, 255, 0)
    ); */

.section-stacks-content {
  background: linear-gradient(to right, theme('colors.sky.600'), theme('colors.cyan.500'));
  z-index: 1;

  @screen xl {
    display: grid;
    grid-template:
      'section-stacks-heading section-stacks-logos'
      'section-stacks-cta     section-stacks-logos'
      / 45vw 1fr;
  }
}

.section-stacks-heading > div {
  perspective: 800px;
}
.section-stacks-heading .font-superLineLine,
.section-stacks-heading .font-superLine {
  display: none;
}

@screen lg {
  .section-stacks-heading .font-superLineLine,
  .section-stacks-heading .font-superLine {
    display: inline-block;
    font-size: calc(6vw + 1em);
    transform: rotateX(-80deg);
    transform-origin: center bottom;
  }
}
@screen xl {
  .section-stacks-heading .font-superLineLine,
  .section-stacks-heading .font-superLine {
    display: block;
    font-size: calc(25vw - 7em);
  }
}

@supports (animation-timeline: --mask-container) {
  .section-stacks-heading .font-superLineLine,
  .section-stacks-heading .font-superLine {
    animation: ease-out section-stacks-stand-up forwards;
    animation-timeline: --mask-container;
    animation-range: 50% 70%;
  }
  @keyframes section-stacks-stand-up {
    100% {
      transform: rotateX(0);
    }
  }
}

/* .section-stacks-glimmer-text {
  h1 {
    font-size: calc(1rem + 4vw);
  }

  background: linear-gradient(
    130deg,
    white 30%,
    var(--themeGradient-1),
    var(--themeGradient-2),
    var(--themeGradient-3),
    white 60%,
    white
  );
  background-repeat: no-repeat;
  background-size: 300% 100%;
  background-position: 0 0;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@supports (animation-timeline: --mask-container) {
  .section-stacks-glimmer-text {
    animation: linear services-glimmer-text forwards;
    animation-timeline: --mask-container;
    animation-range: 0% 90%;
  }
  @keyframes services-glimmer-text {
    to {
      background-position: 100% 0;
    }
  }
} */

/****************************************
  Section: Clients
*****************************************/

.section-clients {
  --gray1: #edeff19e;
  --gray2: #e7e9ec;

  .viewport-container {
    background-image: linear-gradient(130deg, var(--gray1), var(--gray2));
    /* background-image: linear-gradient(135deg in oklab, oklch(55% 0.45 350) 0%, oklch(95% 0.4 95) 103% 103%); */
  }
}

.section-clients-content {
  position: absolute;
  top: 5vh;
  left: 0;
  width: 50vw;
  height: 100vh;
}

// Glass
.section-clients-content::before {
  content: '';
  position: absolute;
  z-index: -1;
  left: -2em;
  right: 0;
  top: 0;
  bottom: -20vh;
  display: block;
  border-top: 1px solid #e5eaedc4;
  border-right: 1px solid #e5e8ede3;
  background: linear-gradient(to bottom, #81ace1aa, var(--transparent));
  backdrop-filter: blur(5px);
  transform: skew(0, 12deg) translate(1em, 0);
  border-radius: 5em;
  border-top-left-radius: 0;
  box-shadow: 0 0 40px -20px rgba(0, 0, 0, 0.3);
}

.section-clients-content::after {
  content: '';
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  transform: skew(0, 12deg);
  top: 1em;
  bottom: -100px; // offset for slant
  background: linear-gradient(to bottom, #fff, #fff 50%, var(--gray2));

  border-radius: 4em;
  border-top-left-radius: 0;
}

//////////// Logos Perspective

.section-clients-logos {
  position: absolute;
  z-index: -2;
  bottom: 14em;
  left: 35vw;
  right: -40vw;
  perspective: 850px;

  > div {
    transform: rotateY(30deg);
    position: relative;
  }
}

//////////// Logos Scrolling

.scroll-brands {
  --gap: 1em;
  display: flex;
  flex-wrap: nowrap;
  gap: var(--gap);
  /* -webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0, #000 35%, #000 100%);
  mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0, #000 35%, #000 80%); */
}

.scroll-brands > div {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  flex-wrap: nowrap;
  gap: var(--gap);
  min-width: content; // 100%

  /* animation: slide 120s linear infinite;
  animation-delay: var(--delay); */

  /* animation-delay: var(--delay); */

  animation: slide linear;
  animation-timeline: --mask-container;
  animation-range: 0% 100%;
}

@keyframes slide {
  0% {
    transform: translateX(calc(var(--gap) * -1));
  }
  100% {
    /* transform: translateX(calc(-30% - var(--gap) * 2)); */
    transform: translateX(calc(var(--speed, -30%) - var(--gap) * 2));
  }
}
