.primary-nav {
  // For the glimmer and non-glimmer version to overlap correctly
  padding: 1px;

  font-size: 0.9em;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  text-align: center;

  @media (min-width: 500px) {
    font-size: 1.2em;
  }
  @media (min-width: 768px) {
    left: auto;
    top: 10px;
  }
}

@supports (animation-timeline: --mask-container) {
  @media (max-width: 768px) {
    .hero .primary-nav {
      transform: translateY(400%);
      animation: ease-out primary-nav-position forwards;
      animation-timeline: --mask-container;
      animation-range: 45% 60%;
    }
  }
}
@keyframes primary-nav-position {
  to {
    transform: translate(0);
  }
}

.primary-nav a {
  text-decoration: none;
  font-weight: 500;
}

.primary-nav-glimmer::before {
  content: '';
  position: absolute;
  inset: 0;
  border: 1px solid transparent;
  z-index: -1;

  background: linear-gradient(
    130deg,
    transparent 0%,
    transparent 45%,
    theme('colors.theme-gradient-1') 50%,
    theme('colors.theme-gradient-4') 60%,
    transparent 65%,
    transparent 100%
  );

  background-size: 220% 100%;
  background-position: -300% 0;

  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

@supports (animation-timeline: --mask-container) {
  .primary-nav-glimmer::before {
    animation: linear primary-nav-glimmer forwards;
    animation-timeline: --mask-container;
    animation-range: 30% 90%;
  }
}
@keyframes primary-nav-glimmer {
  to {
    background-position: 150% 0;
  }
}
