@supports (animation-timeline: --hero-container) {
  @media (max-width: 768px) {
    //@media screen(md) { // doesnt work
    .primary-nav {
      transform: translateY(400%);
      animation: ease-out primary-nav-position forwards;
      animation-timeline: --hero-container;
      animation-range: 45% 60%;
    }
  }
}
@keyframes primary-nav-position {
  to {
    transform: translate(0);
  }
}

.primary-nav a {
  text-decoration: none;
  font-weight: 500;
}

/* .primary-nav a:not(.active) {
  opacity: 0.7;
} */

/* Black ******************/

.glimmer-border-mask {
  padding: 1px;
}

.glimmer-border-mask::before {
  content: '';
  position: absolute;
  inset: 0;
  border: 1px solid transparent;

  background: linear-gradient(
    130deg,
    transparent 0%,
    transparent 45%,
    theme('colors.theme-gradient-1') 50%,
    theme('colors.theme-gradient-4') 60%,
    transparent 65%,
    transparent 100%
  );

  background-size: 500% 100%;
  background-position: -100% 0;

  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;

  /* transform: translate(100%); */
}

@supports (animation-timeline: --mask-container) {
  .glimmer-border-mask::before {
    animation: linear glimmer-border-mask forwards;
    animation-timeline: --mask-container;
    animation-range: 45% 90%;
  }
}
@keyframes glimmer-border-mask {
  to {
    /* transform: translate(-100%); // scale(3); */
    background-position: 100% 0;
  }
}
