@tailwind base;
@tailwind components;
@tailwind utilities;

.site-border {
  position: fixed;
  z-index: 1000;
  inset: 0;
  border: 40px solid white;
  pointer-events: none;
}

.border-container {
  top: 0;
  width: calc(100vw - 80px);
  height: calc(100vh - 80px);
  transform: translate(40px, 40px);
}

.hero {
  view-timeline-name: --hero-container;
}

.hero-logo {
  margin: 4rem 0 0 4rem;
  width: 200px;
}
/* @supports (animation-timeline: --hero-container) {
  .hero-logo {
    transform: translateX(100px);
  }
}
@keyframes hero-double-slash {
  to {
    transform: translateX(0);
  }
} */

.hero-double-slash {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(-200px, 240px);
}
@supports (animation-timeline: --hero-container) {
  .hero-double-slash {
    position: fixed;
    animation: linear hero-double-slash forwards;
    animation-timeline: --hero-container;
    animation-range: 50%;
  }
}
@keyframes hero-double-slash {
  to {
    transform: translate(-1000px, 240px);
  }
}

.hero-slash-mask {
  position: fixed;

  padding-top: 200px;

  mask-image: url('images/slash.svg');
  mask-repeat: no-repeat;
  mask-size: 500vw 500vw;
  mask-position: 50% 50%;
  overflow: hidden;

  background-image: radial-gradient(circle at 70%, var(--tw-gradient-stops));
}
@supports (animation-timeline: --hero-container) {
  .hero-slash-mask {
    animation: linear hero-slash-mask forwards;
    animation-timeline: --hero-container;
    animation-range: 50%;
  }
}
@keyframes hero-slash-mask {
  to {
    mask-position: 100% 50%;
  }
}

/****************************************
  Services
*****************************************/

#services > div {
  view-timeline-name: --services-container;
}

.services-logo {
  position: absolute;
  left: 0;
  top: -8vw;
  width: 75vw;
  z-index: 10;
  transform: translateX(-30%) rotate(-62.3deg);
}
/* @supports (animation-timeline: --services-container) {
  .services-logo {
    animation: linear services-logo forwards;
    animation-timeline: --services-container;
    animation-range: contain 60% exit 62%;
  }
}
@keyframes services-logo {
  to {
    color: #555;
  }
} */

/*

this is the circle mask trick from early ideas
@keyframes bg-shrink {
  to {
    clip-path: circle(300%);
  }
}

.section-two {
  height: 100vh;
  background: #000;
  clip-path: circle(0%);
  animation: bg-shrink linear;
  animation-timeline: scroll(block root);
  animation-duration: 2s;
}

*/

/* @keyframes slide-left {
  to {
    transform: translateX(-200px);
  }
}

.slide-left {
  animation: slide-left linear;
  animation-timeline: scroll(block root);
  animation-duration: 5s;
}

@keyframes slide-right {
  to {
    transform: translateX(200px);
  }
}

.slide-right {
  animation: slide-right linear;
  animation-timeline: scroll(block root);
  animation-duration: 5s;
}

.neumorphic-box {
  background: linear-gradient(145deg, #fefefe, #d5d5d5);
  box-shadow: 20px 20px 60px #c9c9c9, -20px -20px 60px #ffffff;
}

.neumorphic-box-inset {
  box-shadow: inset 20px 20px 60px #c9c9c9, inset -20px -20px 60px #ffffff;
} */
